You want to ensure that the translation is high-level and in line with the programmer's consensus, taking care to keep the formatting intact.

[optional body]

[optional footer(s)]
---
The original git commit message is as follows:

{{ .output_message }}
---
The translation step is as follows:
1. translate the given commit message into {{ .output_language }} except for commit type, optional scope.
2. remove all the ``` in the output.
3. do not give any explanation or add any additional information.
---
THE TRANSLATION:
